// Color Utility




// Dependencies:
//   Settings.Default




// Options

$iota-color           : true;
$iota-color-namespace : 'color-' !default;
$iota-color-names     : () !default;




@each $color-name, $color-value in $iota-color-names {
  
  .#{$iota-utility-namespace}#{$iota-color-namespace}#{$color-name} {
    color: #{$color-value} !important;
  }

}
